@import url(mixin.scss);
@import url(variable.scss);

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto;

    h1,
    h2 {
        margin-left: 20px;
        margin-top: 20px;
    }

}

// Variables

$violet: #9356DC;
$rose : #FF79DA;
$vert : #99E2D0;
$grisclair : #DCDCDC;
$gradient : linear-gradient($rose, $violet);

//Mixin

@mixin header {
    background-color: #f7f7f7;

    img#logo {
        width: 50%;
        display: flex;
        margin: auto;
        margin-top: 20px;
    }
}

@mixin base-button {
    color: white;
    display: block;
    width: 80%;
    margin: auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: $violet;
    text-decoration: none;
    border-radius: 30px;
    background: linear-gradient($rose, $violet);

}

@mixin menu {
    background-color: $grisclair;
    display: block;
    width: 100%;

    &:hover {
        color: #FFC0CB;
    }
}

@mixin footer {
    background-color: #353535;
    color: white;
    padding-top: 20px;

    .logo_footer {
        padding: 20px 0 0 15px;
        font-family: Shrikhand;
        margin-left: 10px;
    }

    ul {
        list-style-type: none;
        padding: 10px 0 20px 10px;
    }

    li {
        padding-bottom: 10px;
        padding-left: 5px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

@mixin button_order {
    color: white;
    display: block;
    max-width: 250px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: $violet;
    text-decoration: none;
    border-radius: 50px;
    background: linear-gradient($rose, $violet);
    margin-bottom: 20px;
    box-shadow: 4px 4px 2px lightgrey;
    ;
}

@mixin heart_hover {

    .top_heart {
        position: absolute;
        background: linear-gradient($rose, $violet);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        left: 0;
        top: 0;

        &:hover {
            opacity: 1;
            transition: opacity 200ms;
        }

    }

    .bottom_heart {
        position: relative;
        color: black;
        font-size: x-large;
    }

}



@keyframes cascade {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    font-family: shrikhand;
    font-size: 150%;
    font-weight: bold;
}

h2 {
    font-family: roboto;
    font-size: 130%;
    font-weight: bold;

}

h3 {
    font-family: roboto;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 0;

}

// // Media Queries Telephone // 
// @media screen and (min-width: 320px)

//header 

header {
    background-color: #f7f7f7;
    position: relative;
    z-index: -1;

    img#logo {
        width: 50%;
        display: flex;
        margin: auto;
        margin-top: 20px;
    }

    #location {
        display: flex;
        justify-content: center;
        background-color: #eaeaea;
        box-shadow: inset 5px 8px 5px -10px black;
        height: 50px;
        margin: 5px 0 5px 0;

        i,
        span {
            padding: 15px 5px 0 0;
        }
    }

    #reservation {
        text-align: center;
        margin-left: 10px;
        margin-bottom: 20px;

        span {
            font-weight: bold;
        }
    }

    #buton {
        @include base-button();
        margin-bottom: 50px;
    }

}

#container_one {

    a {
        text-decoration: none;
        color: black;
    }

    li {
        padding: 25px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 10px rgb(0 0 0 / 13%);
        border-radius: 20px;
        background-color: #f6f6f6;
        display: flex;
        color: black;
        gap: 20px;

        span.number {
            position: absolute;
            left: 32px;
            background-color: $violet;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            color: white;
            text-align: center;
        }

        i {
            color: grey;
        }


        &:hover {
            background: #f5edff;

            i {
                color: $violet;
            }

        }
    }
}

#container_two .card {

    background: #FFFFFF;
    border-radius: 20px;
    justify-content: flex-start;
    -webkit-box-shadow: -1px 6px 14px 5px rgba(0, 0, 0, 0.46);
    box-shadow: -1px 6px 14px 5px rgba(0, 0, 0, 0.46);
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: black;
    }

    img {
        height: 125px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        width: 100%;
    }

    h3,
    span {
        padding: 5px 10px;
        margin: 0;
    }



    i {
        padding-top: 10px;
        padding-right: 10px;
        // color: linear-gradient($rose, $violet);
        // background-clip: text;
        // color: transparent;
        background-clip: text;
        opacity: 1;

        // display: flex;
        // justify-content: flex-end;
        // padding-left: 10px;
        // padding-right: 20px;
        // font-weight: bold;
        // transition: 1s;

        &:hover {

            // background: linear-gradient($rose, $violet);
            // background-clip: text;
            // color: transparent;
            // cursor: pointer;
        }

    }

    .header_card {
        position: relative;
    }

    .footer_card {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .heart {
            .top_heart {
                position: absolute;
                background: linear-gradient($rose, $violet);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                left: 0;
                top: 0;

                &:hover {
                    opacity: 1;
                    transition: opacity 200ms;
                }

            }

            .bottom_heart {
                position: relative;
                color: black;
                font-size: x-large;
            }

            //             .fa-heart:hover {
            // opacity: 1;
            //             }
        }

    }



}

// .header_card {
//     position: relative;
// }

.card_nouveau {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: none;
    color: #008766;
    background-color: $vert;


}


footer {
    background-color: #353535;
    color: white;
    padding-top: 20px;

    .logo_footer {
        padding: 20px 0 0 15px;
        font-family: Shrikhand;
        margin-left: 10px;
    }

    ul {
        list-style-type: none;
        padding: 10px 0 20px 10px;
        margin: auto;
    }

    li {
        padding-bottom: 10px;
        padding-left: 5px;

    }

    a {
        text-decoration: none;
        color: white;
    }
}


/// Menu ///



// Header

.header_logo {
    font-family: Shrikhand;
    margin: 0;
    text-align: center;
}

.header_arrow {
    color: black;
    position: absolute;
    left: 20px;
    top: 15px;
}


img.table {
    width: 100%;
}




// Body 

hr {
    border: none;
    border-bottom: 3px solid $vert;
    width: 50px;
    margin-left: 20px;
}

#container_menu {
    background-color: #f7f7f7;
    border-radius: 50px 50px 0 0;
    margin-top: -58px;
}

.header_menu {
    display: flex;
    justify-content: space-between;

    .heart {
        padding-right: 20px;
        padding-top: 20px;

    }
}

.card,
.card_menu {
    animation: cascade;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}

img.table {
    z-index: -1;

}

.card_menu {

    background: #FFFFFF;
    border-radius: 20px;
    justify-content: space-between;
    -webkit-box-shadow: -1px 6px 14px 5px rgba(0, 0, 0, 0.46);
    box-shadow: -1px 6px 14px 5px rgba(0, 0, 0, 0.46);
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .card_text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;

        .price_menu {
            width: 50px;
            text-align: center;
            margin-top: 25px;
            font-weight: bold;
        }
    }

    .card_check {
        width: 85px;
        text-align: center;
        background-color: $vert;

        i {
            color: white;
            font-weight: bold;
        }
    }


    .title_menu {
        padding-left: 10px
    }

    .header_span {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 10px;
    }


    div.heart {
        padding-right: 10px;
        padding-top: 10px;
    }

    &:hover {
        .card_check {
            width: 85px;
            transform: translateX(0px);
            transition: 600ms;
            font-size: x-large;

            i {
                transform: rotate(720deg);
                transition: 600ms;
                margin-top: 30px;
                font-size: x-large;
            }
        }


    }

    .card_check {
        transform: translateX(70px);
        width: 0;

        // display: inline-block;
        // transform: translate(500px, 0px);
        // color: #f6f6f6;
        // background-color: #99e2d0;
        // width: 10%;
        // ;
        // font-size: xx-large;
        // text-align: center;
        // line-height: 50px;
        // white-space: nowrap;
        // border-top-right-radius: 20px 20px;
        // border-bottom-right-radius: 20px 20px;
        // // transform: translateX(100px);
        // cursor: pointer;
        // transition: all 600ms;

        &:hover {
            // transform: translateX(-10px);
            // background-color: #99e2d0;
            // cursor: pointer;
            // color: #f6f6f6;
        }

        i:hover {
            // display: inline-block;
            // transform: trarotate(360deg);
        }

    }

}


.bottom_heart {
    position: relative;
    color: black;
    font-size: x-large;
}

.top_heart {
    position: absolute;
    background: linear-gradient($rose, $violet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    left: 0;
    top: 0;

    &:hover {
        opacity: 1;
        transition: opacity 200ms;
    }
}


Loader test 












.button_order {
    @include button_order;
}



// // Media Queries Tablette // 
// @media screen and (min-widht : 600px)



// // Media Queries Desktop // 
// @media screen and (min-widht:1025px)